<main>
    <header>


        {{!-- <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul> --}}


        <ul class="sidenav sidenav-fixed" id="mobile-demo">
            <br>
            <br>
            <h3 id="noHide">Categories</h3>


            <li class="bold"><button class="item-category linen waves-effect waves-teal" data-category="bikes"><i
                        class="fa fa-bicycle" aria-hidden="true"></i>
                    Bikes
                </button></li>

            <li class="bold"><button class="item-category linen waves-effect waves-teal" data-category="food"><i
                        class="fa fa-cutlery" aria-hidden="true"></i>
                    Food
                </button></li>

            <li class="bold"><button class="item-category linen waves-effect waves-teal" data-category="furniture"><i
                        class="fa fa-bed" aria-hidden="true"></i>
                    Furniture
                </button></li>

            <li class="bold"><button class="item-category linen waves-effect waves-teal" data-category="household"><i
                        class="fa fa-home" aria-hidden="true"></i>
                    Household
                </button></li>

            <li class="bold"><button class="item-category linen waves-effect waves-teal" data-category="other"><i
                        class="fa fa-question" aria-hidden="true"></i>
                    Other
                </button></li>


            <li class="bold"><button class="item-category linen waves-effect waves-teal"
                    data-category="schoolSupplies"><i class="fa fa-pencil" aria-hidden="true"></i>
                    School Supplies
                </button></li>

        </ul>








    </header>

    <main class="container">

        <div class="card mainCard">
            <div class="row">
                {{#each listing}}
                <div class="col s12 m6 l4">
                    <div class="card darken-1 cd">
                        <div class="card-content white-text">

                            {{#if show}}
                            {{> item/oneItem}}
                            {{/if}}

                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>


    </main>
  



    <script src="/js/home.js"></script>