<main class="container">
	<div class="card margIndex3">
		<div class="row">
			<div class="col s12">
				<div class="card cardCol">
					<div class="card-content white-text">
						<span class="card-title">University Selector</span>
						<p>Please select your University from the drowdown list below.</p>
					</div>
					<div class="card-action">
						<div>
							<label id="fontMatch" for="university"></label>
							<ul id="dropdown" class="validate dropdown-content" id="university">
								<li data-value="penn"><a href="/home">Penn<span class="badge"></a></li>
								<li data-value="haverford"><a href="/home">Haverford<span class="badge"></a></li>
							</ul>
							<a class="btn dropdown-trigger btnClr" href="#" data-target="dropdown">University
								<i class="mdi-navigation-arrow-drop-down right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>



<script>
	$(document).ready(function () {
		$(".dropdown-trigger").dropdown();
	});
</script>
<script src="/js/index.js"></script>