<form id="login">
    <div>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" id="email-input" placeholder="Email">
    </div>
    <div>
        <label for="exampleInputPassword1">Password</label>
        <input type="password" id="password-input" placeholder="Password">
    </div>
    <button type="submit">Login</button>
</form>
<script type="text/javascript" src="js/login.js"></script>