<form id="signup">
  <div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" id="email-input" placeholder="Email">
  </div>
  <div>
    <label for="exampleInputPassword1">Password</label>
    <input type="password" id="password-input" placeholder="Password">
  </div>
  <div style="display: none" id="alert" role="alert">
    <span aria-hidden="true"></span>
    <span>Error:</span> <span></span>
  </div>
  <button type="submit">Sign Up</button>
</form>

<script type="text/javascript" src="js/signup.js"></script>