

    <div class="card-content white-text">
        <span class="card-title">{{productTitle}}</span>
        <p class="price">${{price}}</p>
        {{!-- Add post time later if we want --}}
    </div>
    <div class="card-action">
        <a href="views/buyItem.handlebars"> <button class="moreInfo" data-id="{{ id }}"> Furniture </button>
        </a>
    </div>

