<li class="list-group-item">

    <div class="card-content white-text">
        <span class="card-title">{{item_name}}</span>
        <p class="price">{{item_price}}</p>
        {{!-- Add post time later if we want --}}
    </div>
    <div class="card-action">
        <a href="views/buyItem.handlebars"> <button class="moreInfo" data-id="{{ id }}"> Furniture </button>
        </a>
    </div>

</li>