.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Lobster Two', cursive;
}

.mainCard {
  /* z-index: 5 !important; */
  /* display: flex;
  justify-content: space-around !important; */
    /* margin-top: 8em !important; */
  margin-top: 20px !important;
  /* margin-bottom: 50px !important; */
  margin-bottom: auto !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
  text-align: center !important;
  background-color: #f4ece7 !important;
  /* max-height: 90px; */

  /* opacity: 90%; */
}

.row {
  align-content: center !important;
}

.margIndex {
  margin-left: 30% !important;
  margin-right: 30% !important;
  margin-top: 20px !important;
  text-align: center !important;
}

.margIndex2 {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 20px !important;
  /* text-align: center !important; */
}

.margIndex3 {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 20% !important;
  margin-bottom: 20%;
  text-align: center !important;
}

.marg {
  min-height: 700px !important;
}

#noHide {
  text-align: center;
}

body {
  /* background-color: aqua; */
  background-image: url(https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
}

.sidenav {
  background-color: #f695ab !important;
  color: #ffd022;
  /* z-index: 1 !important; */
  text-align: center !important;
}

.topNav {
  background-color: #f4ece7 !important;
}

.pink {
  color:  #f695ab !important;
}

a.brand-logo.center.pink {
  background-color:  #f4ece7 !important;
}

.linen {
  /* align-content: center !important; */
  background-color: black !important;
  color: #f4ece7 !important;
  text-align: center;
  font-weight: 700 !important;
  font-size: larger !important;
} 

/* button {
  justify-content: center !important;
} */

.icons {
  color: #f695ab !important;
}

.cd {
  max-height: 50% !important;
  background-color: #1eacbb !important;
  color: black !important;
}

.item-category {
  background-color: #1eacbb !important;
  border: solid white 2px !important;
  border-radius: 8px !important;
}

.cardCol {
  background-color: #1eacbb !important;
  border: #f695ab !important;
}


div.row::after {
  color: #f4ece7;
}
div.card {
  background-color: #f695ab;
}

label {
  color: white !important;
}

label::after {
  color: white !important;
}

.validate {
  color: white !important;
}

#add-item {
  background-color: #f695ab !important;
  text-align: center !;
}

#buyBtn {
  background-color: #f695ab !important;
}

#uniBtn {
  background-color: #f695ab !important;
}

.btnClr {
  background-color: #f695ab !important;
}

#left {
  align-content: left !important;
}

span::after {
  background-color: #f695ab !important;
}

#leftAlign {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

#fontMatch {
  font-size: 14px;
}

input {
  color: white !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}